VITE_SUPABASE_URL=https://vzduymscsnuwbolucnag.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ghU7U0ZmZ95f7PhjMvuZLw_Io4N_BMZ
VITE_SUPABASE_ANON_KEY=sb_publishable_ghU7U0ZmZ95f7PhjMvuZLw_Io4N_BMZ
VITE_WGER_USERNAME=
VITE_WGER_PASSWORD=
VITE_EXERCISEDB_KEY=
VITE_USDA_API_KEY=
